{#
/**
 * @file ingredient.html.twig
 * Default theme implementation to present Ingredient data.
 *
 * This template is used when viewing Ingredient pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ingredient()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ingredient') }}>
  {{ kint(content|keys) }}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
